@import "utils";

:host {
  background-color: color(card-footer-background);
  min-height: 40px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  &.centered {
    justify-content: center;
  }
}

.app-card-footer {
  width: 100%;
}