@import "../../../../assets/theme/utils/color";

header {
  width: 100%;
  background-color: color(header-background);
  height: 54px;
  .logo-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .logo {
      width: 166px;
    }
  }
}